/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .category-title {
    /*margin: auto;*/
    width: 50%;
    font-size: 400%;
    margin-bottom: 3%;
    margin-left: 36%;
 }

/* .top-10-title{
  margin: auto;
    width: 100%;
 }*/

 .top-review {
/*    width:20%;
   max-height:200%;
   margin-left:7%;
   position: fixed;*/
 }

 .each-review {
  padding-bottom: 3%;
  margin-bottom: 3%;
  border: solid #cecece;
 }

 .categories-group {
  margin-top: -3%;
 }

.container {
  margin-top: -2%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.top-review {
  margin-left: 55%;
  margin-top: -10px;
  font-size: 20px;
 }

 #search_img {
  width: 40%;
  height: auto;
 }


