<div class="row">
        <div class="col-md-12">
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <a href="/users/5"><%= @review.reviewer.username %></a>
          <span class="pull-right"><%= @review.created_at %></span>
          <p><%= @review.title %><br></p>
          <p><%= @review.body %><br></p>
        </div>
</div>
